<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
    <script src="circle-path.js"></script>
    <title>Sunshine</title>
  </head>
  <body>
    <h1>It's the sun</h1>
  </body>
</html>
